body {
      border: 2px solid black;
      padding-top: 15px;
      padding-bottom: 15px;
      width: 850px;
      margin: 30px auto;
      padding-left: 40px;
      font-family: Verdana;
      font-size: 14px;
      background-color: #FFFFF0;
}

ul li {
      display: inline;
      padding: 10px;
}

.first{
      padding-top: 13px;
}

.space{
      padding-right: 150px;
}